body{

    font-family: 'Noto Sans Bengali', sans-serif;
    
    background-color:white;
    
}

.osh{

    background-color: darkgreen;
    color: white;
    size: 30px;

}



.riham{
    width: 100%;
    background-color: yellowgreen;
}


