body{

    font-family: 'Noto Sans Bengali', sans-serif;
    margin-left: 15%;   
    margin-right: 20%; 
    margin-top: 5%;
    margin-bottom: 20%;
    background-color:lavender;
    
}

h1{

    font-size: 30px;
  
    
}
.osh{

    background-color: darkgreen;
    color: white;

}

p{

font-size: 20px;

}

section{
    display: flex;
    margin-top: 10%;
   
    
}

.riham1 img{
    width: 100%;
    padding-left: 30px;
    margin-top: 20%;

}

.riham{
    width: 100%;
}

h2{

    background-color: darkmagenta;
    color: white;
    text-align: center;
}

.item{

    font-size: 20px;
    background-color: yellow;
    font-weight: bold;
    text-align: justify;
}




.fire-heading{

font-size: 20px;
color:indigo;
}

td img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-style: none;
    border-spacing: 40px;
    
    
  }


.entire{
    background-color: none;
    
}


a:hover{
    color:darkorange;
}


.separate{

    padding-bottom: 50px;
    margin-top: 2%;;
}

.accordion1{
    background-color:green;
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    
}

.accordion2{
    background-color: red;
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}


p{

    background-color:white;
    color: black;
    
    
}

.question{
    background-color:ivory;
    color: black;
    font-size: 30px;
    }
 
    #acc1{
        border: slateblue;
        border-style: thin;
    }

    #acc-border{

        border: black;
        border-style: outset;
        border-radius: 20px;
       
    }

    header{
        width: 100%;
        background:black;
        
        
       
    
    }
    
    header ul{
         display: flex;
         justify-content: flex-end;
         max-width: 1000px;
         margin:0 auto;
         padding: auto;
       
    }

    header ul li{

        list-style: none;
        position: relative;
        padding: 10px 15px;
        transition: 0.5s;
        box-sizing: border-box;
       }
    
    header ul li :hover{
        background:black;
    }
    
    header ul li a{
        color: white;
    }




    