.h4{

    background-color: whitesmoke;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: auto;
    font-size: 20px;
    
}

body{

    font-family: 'Hind Siliguri', sans-serif;
}