body{

    font-family: 'Noto Sans Bengali', sans-serif;
    margin-left: 15%;   
    margin-right: 15%; 
    margin-top: 2%;
    margin-bottom: 20%;
    background-color:lavender;
  
  
}

h1{

    font-size: 30px;
}

.osh{

    background-color: darkgreen;
    color: white;}

p{

font-size: 20px;

}

section{
    display: flex;
    margin-top: 2%;
    align-content: center;
   
    
}

.riham1 img{
    width: 100%;
    padding-left: 30px;
    margin-top: 20%;
    align-content: center;

}

.riham{
    width: 100%;
    align-content: center;
    
}

h2{

    background-color: darkmagenta;
    color: white;
    text-align: center;
}

.item{

    font-size: 20px;
    background-color: yellow;
    font-weight: bold;
    text-align: justify;
}


.fire-heading{

font-size: 20px;
color:indigo;
}

td img{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    
    
}




a:hover{
    color:seagreen;
}


header{
    width: 100%;
    background:black;
    
}

header ul{
     display: flex;
     justify-content: flex-end;
     max-width: 1000px;
     margin:0 auto;
     padding: auto;
   
}

header ul li{

    list-style: none;
    position: relative;
    padding: 10px 15px;
    transition: 0.5s;
    box-sizing: border-box;
   }

header ul li :hover{
    color: red;
    font: bold;
}

header ul li a{
    color: white;
    text-decoration: none;
}




.entire{
    background-color:lavender;
    border:outset;
    opacity: 1;
    border-radius: 20px;
    

}

#id{
    width:30%;
}


footer {
    text-align: center;
    padding: 10px;
    background-color:lavender;
    color:black;
    margin-top: 20%;
       
    
    

    
  }

  #s1{

    font-size: 15px;
  }