body{

    font-family: 'Noto Sans Bengali', sans-serif;
    margin-left: 10%;   
    margin-right: 10%; 
    margin-top: 10%;

}

h1{

    font-size: 50px;
  
    
}
span{

    background-color: darkgreen;
    color: white;

}

p{

font-size: 20px;

}

section{
    display: flex;
}

.riham1 img{
    width: 100%;
    padding-left: 10px;

}

.riham{
    width: 100%;
}

h2{

    background-color: darkmagenta;
    color: white;
}

.item{

    font-size: 20px;
    background-color: yellow;
    font-weight: bold;
    text-align: justify;
}